<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.nimikash.listeners.ListenersClass"/>
    </listeners>
<!--    <test name="Mobile automation - employee login">-->
<!--        <classes>-->
<!--            <class name="com.nimikash.test.LoginTests"/>-->
<!--        </classes>-->
<!--    </test>-->

    <test name="Mobile automation - Home Tab Tests">
        <classes>
            <class name="com.nimikash.test.HomeTabTests"/>
        </classes>
    </test>
</suite>